{% extends 'learning_logs/pages/base.html' %}

{% block header %}
    <div class='jumbotron'> 
        <h1 style="text-align:center" >Track your learning</h1>
    </div> 
{% endblock header %}

{% block content %}

    <h3 style="text-align:center" > 
        {% if not user.is_authenticated %}
            <a href="{% url 'users:register' %}">Register an account</a> or
            <a href="{% url 'users:login' %}">Log in</a> 
            to make your own Learning Log, and list the topics you're learning about.
        {% endif %}

        Whenever you learn something new about a topic, make an entry summarizing what you've learned.
    </h3>

{% endblock content %}