{% extends 'learning_logs/pages/base.html' %}

{% load bootstrap3 %}

{% block header %}
    <h2>Log in to your account.</h2> 
{% endblock header %}

{% block content %}
    {% comment %} {% if forms.errors %}
        <p>Your username and password didn't match. Please try again.
    {% endif %}

    <form method="post" action="{% url 'users:login' %}"> 
        {% csrf_token %}
        {{ form.as_p }} {% endcomment %}
        {% comment %} <button name="submit">Log In</button> {% endcomment %}
    <form method="post" action="{% url 'users:login' %}" class="form"> 
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Log in</button> 
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>
{% endblock content %}